*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
   
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;

}
.sidebar{
      width: 250px;
      background-color: rgb(0, 0, 0);
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
}
.content1{
      
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    
}
.content2{
      
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}
.content3{
      
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 20px;
    margin-bottom: 30px;
    
}
.home{
    margin-left: 250px;
    width: 650px;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.storybar{
    width: 650px;
    height: 150px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    h4{
        color: white;
    }
}
.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf, #4f5bd5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        width: 77px;
        height: 77px;
        border-radius: 50%;
        border: 3px solid black;
    }
}
.stories{
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 2px;
    justify-content: center;
    cursor: pointer;
}
.circle2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf, #4f5bd5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    img{
        width: 77px;
        height: 77px;
        border-radius: 50%;
        border: 3px solid black;
    }
}
.forward{
    position: absolute;
    right: 554px;
    top: 60px;
    font-size: 24px;
}
.homesection{
    width: 500px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
       color: white;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.bar1{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf, #4f5bd5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        height: 28px;
        width: 28px;
        border-radius: 50%;
        border: 3px solid black;
    }
}
.bar2{
    height: 30px;
    width: 140px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    justify-content: center ;
    cursor: pointer;
}
.name1{
    display: flex;
    width: 200px;
    height: 40px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
.post{
    width: 500px;
    height: 600px;

    img{
        width: 500px;
        height: 600px;
        border-radius: 8px;
        cursor: grab;
    }
}
.count{
    color: white;
    display: flex;
    gap: 5px;
    padding-top: 5px;
    padding-left: 8px;
}
.likecount{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
/* .likecount:hover i{
    font-size: 28px;
} */
.love:hover{
    font-size: 28px;
}
.commentcount{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.commentcount:hover{
    font-size: 28px;
}
.repost:hover{
    font-size: 28px;
}
.share:hover{
    font-size: 28px;
}
.save:hover{
    font-size: 28px;
}
.repost{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.share{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.save{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding-left: 160px;
    cursor: pointer;
}
.likedby{
    font-size: 14px;
    display: flex;
    gap: 5px;
    padding-left: 10px;
    padding-top: 15px;
}
.marker{
    img{
        height: 13px;
        width: 13px;
        padding-right: 3px;
        padding-top: 2px;
    }
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 9px;
    margin-left: 10px;
}